*.log
*errors.txt
.DS_Store
configuration.php
/easistemas_framework
/apps

/portal/public_html/cache
/portal/public_html/easistemas.php

/admin/public_html/cache
/admin/public_html/easistemas.php

/cdn/public_html/cache
/cdn/public_html/easistemas.php

/api/public_html/cache
/api/public_html/easistemas.php